/* Preformatted Text */

pre {
  background: $dark-background;
  color: $light-text;
  font-size: .9rem;
  padding: 1rem;

  box-shadow: inset 0px 0px .5em 0px rgba(0,0,0,0.75);
}


/* Code Snippets */

code {
  font-family: $monospace-font;
}

pre code {
  display: block;
}

p code {
  background: $light-background;
  padding: .3em;
  font-size: .9em;
  box-shadow: inset 0px 0px .2em 0px rgba(0,0,0,0.3);
}


/* IMAGES */

img {
  width: 100%;
}

.content img {
  border-left: .5rem solid $tertiary-color;
}

// Focused Images are designed to make pictures stand out a little more

@media (min-width: 1100px) {

  div.img-focused, img.img-focused, .img-focused {
    width: calc(100% + 6rem);
    margin-left: -3rem;
  }

}


// Captioned Images

.content figure {
  background-color: $dark-background;
  font-family: $monospace-font;

  img {
    border: .5rem solid $dark-background;
    border-bottom: 0;
  }

  figcaption {
    padding: 0 .5rem .3rem .5rem;
    font-size: .9em;
    color: $light-text;
  }
}





/* ALERT BOXES */

// Some general styles for alert boxes.

.alert {
  background-color: $light-background;
  padding: 1rem 1rem 1rem 2.5rem;
  border-left: .3rem solid $tertiary-color;

  background-repeat: no-repeat;
  background-position: -1rem -1rem;
  background-size: 5rem;
  background-blend-mode: overlay;

  h2, h3, h4, h5, p {
    margin: 0;
  }

  p {
    font-size: .9em;
  }

  a:hover {
    color: $dark-background;
  }

  code {
    background: $dark-background;
    color: $light-text;
  }

  &.generalinfo {
    border-color: $tertiary-color;
    @include icon-search-eye;

    h3, h4, h5 {
      color: $tertiary-color;
    }

  }

  &.mild {
    border-color: $mildwarning-color;
    @include icon-warning-outline;

    h3, h4, h5 {
      color: $mildwarning-color;
    }
  }

  &.success {
    border-color: $success-color;
    @include icon-checkmark-filled;

    h3, h4, h5 {
      color: $success-color;
    }
  }

  &.warning {
    border-color: $warning-color;
    @include icon-warning-filled;

    h3, h4, h5 {
      color: $warning-color;
    }
  } 
}