/* FORM STYLES */

// Trigger form styles only in the content
// This makes forms outside of the content, such as search forms, easier to style

.content form, form.content {
  margin-bottom: 1.5rem;
}

// Turn every immediatechild element of the form into its own block-level element

form.content > *, .content form > * {
  padding: 1rem;
  display: block;
  border-top: 1px solid $tertiary-color;
}

// Basic styles for the most common form elements

input[type=text], input[type=number], input[type=password], input[type=file], textarea, select {
  display: block;
  box-sizing: border-box;
  font-family: $monospace-font;
}

.content > label, .content form > label {

  font-weight: bold;

  input[type=text], input[type=number], input[type=password], input[type=file], textarea, select {
    width: 100%;
    font-size: .8rem;
    padding: .3rem;
    background: white;
    border: 1px solid $secondary-color;
    box-shadow: inset 0px 0px .15em 0px rgba(0,0,0,0.3);
    border-radius: .3rem;
    margin-top: .5rem;
  }

  textarea {
    height: 5rem;
  }

}

// Styles for fieldsets, checkboxes, and radio boxes

.content fieldset, .content form fieldset {
  border-top: 1px solid $tertiary-color;

  legend {
    font-weight: bold;
    padding: 0rem .5rem 0rem .5rem;
  }
}

input[type=checkbox], input[type=radio] {
  margin-right: .3rem;

  & + label {
    font-family: $monospace-font;
  }
}

// Styles for submit and button elements

input[type=submit], button {
  background-color: $secondary-color;
  border: 1px solid $dark-background;
  color: $light-text;
  border-radius: .3rem;
  font-size: 1em;
  padding: .5em;
  font-family: $monospace-font;
}