
/* FLOATS */

// Basic floats

.float-left {
  float: left;
}

.content .float-left {
  max-width: 45%;
  margin: 0 1.5rem 0 0;
}

.float-right {
  float: right;
}

.content .float-right{
  max-width: 45%;
  margin: 0 0 0 1.5rem;
}


// Out-of-bounds floats

@media (min-width: 1100px) {
  .content .float-left.float-hard {
    margin-left: -1.5rem;
  }

  .content .float-right.float-hard {
    margin-right: -1.5rem;
  }
}

