/* NAVIGATION PATTERNS */


// The Simple Navigation Bar

nav {
  a {
    text-decoration: none;
  }
}

nav.nav-bar, nav.nav-block {
  ul {

    li{

      a {
        display: block;
        padding: .3rem;
        height: 2.2rem;
        
        margin-bottom: 2px;
      }
    }
  }
}

  // Styles to add background colors into navigation bars. Used on dropdowns, accordions, and hamburger menus, among others

  .nav-filled {
    ul {
      li {
        a {
          background: $light-background;
          color: $primary-color;

          &:hover {
            background: darken($tertiary-color, 5%);
          }
        }
      }
    }
  }

// The basic styles for nav bars on tablet and desktop-sized screens

@media (min-width: 50rem) {
  nav.nav-bar {
    ul {
      display: flex;
  
      li{
        flex-grow: 1;
        flex-basis: 0;
        margin-bottom: 0;
        margin-right: .1rem;
  
        a {
          text-align: center;
        }

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}

// Styles for aligning navigation links to the left or right

nav.left, nav.right {

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      flex-grow: 0;
      flex-basis: auto;
      margin-bottom: .1rem;
      margin-right: .1rem;

      a {
        text-align: center;
        padding: .3rem .5rem .3rem .5rem 
      }
    }
  }
}


nav.right {
    
  ul {
    justify-content: flex-end;

    li {
      margin-right: 0;
        margin-left: .1rem;
    }
  }
}


// Simple Vertical Navigation Block
// Just add this to any nav bar to make it vertical.

nav.nav-block {

  ul {

    li {
      width: 100%;

      ul {
        margin-top: .2rem;
      }
    }
  }
}


// The Dropdown Navigation Bar

// This works with no JS, using a checkbox to implement the show/hide on click functionality 

// First, let's hide the child lists from view

nav.dropdown {
  ul li ul {
    display: none;
    margin-left: 1.5rem;
    width: 100%;
  }

  // Now let's make them visible again with a checkbox

  ul {
    li.drop, li.folder {

      display: flex;
      flex-wrap: wrap;

      a {
        flex: 1;
      }

      // Hide the actual checkbox - People will click the label to reveal the dropdown

      input[type=checkbox] {
        display: none;
      }

      input[type=checkbox]:checked + ul {
        display: block;
      }

      // Style the label so it looks real good

      label {
        color: $light-text;
        background: $secondary-color;
        padding: .3rem;
        text-align: center;
        width: 2rem;
        height: 2.2rem;

        &:hover {
          background: $dark-background;
        }
      }

    }
  }

  // Some styles specifically for the using the vertical navigation block with dropdowns

  &.nav-block {
    ul li ul {
      margin-top: 0rem;
    }
  }
}

// And now, the desktop / tablet version

@media (min-width: 50rem) {
  nav.dropdown {

    ul {
      li {
        position: relative;

          ul {
            margin: 0;
            margin-top: 2.2rem;
            position: absolute;
            width: 100%;

            li a {
              margin-top: 2px;
            }
          }
        }
      }

      // Some styles specifically for the vertical navigation block

      &.nav-block {
        ul li ul {
          position: static;
          padding-left: 1.5rem;
          margin-top: -.1rem;
        }
      }
    }  
}


// The Centered Navigation Bar

// Simply put, this aligns all the links to the middle

nav.centered {
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {

      a {
        padding: 0rem .5rem 0rem .5rem;
        border-right: .1rem solid $primary-color;
        font-family: $monospace-font;

        &:hover {
          color: $tertiary-color;
        }
      }

      &:last-child {
        a {
          border: 0;
        }
      }

    }
  }
}


// Hamburger Navigation

// Works on the same principle as the drop-down menu, requires a checkbox

nav.hamburger {

  input[type=checkbox] {
    display: none;
  }

  label {
    color: $light-text;
    padding: .3rem .5rem .3rem .5rem;
    background: $dark-background;
  }

  > ul {
    display: none;
  }

  input:checked ~ ul {display: block;}
}

@media (min-width: 50rem) {
  nav.hamburger {

    > label {
      display: none;
    }

    &.nav-bar {
    > ul {
      display: flex;
      }
    }
  }
}



// Breadcrumb Navigation

nav.breadcrumb {
  outline: .1rem dashed $dark-background;

  ul {
    display: flex;
    font-size: .9em;
    flex-wrap: wrap;

    li {

      a {
        padding: 0rem .5rem 0rem .5rem;
        font-family: $monospace-font;
      
        &:after {
          content: " ▶";
        }

        &:hover {
          color: $tertiary-color;
        }
      }

      &:last-child {
        a:after {
          content: "";
        }
      }
    }
  }
}


// Accordion Navigation

// Drop-down and hamburger menus on steroids

nav.accordion {

  input[type=checkbox] {
    display: none;
  }

  label {
    padding: .3rem .5rem .3rem .5rem;
    display: block;
    border-top: 2px dashed $dark-background;

    &:after {
      content: " ▼";
    }
  }

  > ul {
    display: none;
  }
  
  input:checked + ul {display: block;}

  ul {
    li {
      a {
        display: block;
        padding: .3rem .5rem .3rem .5rem;
        border-top: 1px dashed $secondary-color;
      }
    }
  }
}
