/* NAVIGATION PATTERNS */

// The Simple Navigation Bar

nav {
  a {
    text-decoration: none;
  }
}


// Breadcrumb Navigation

nav.breadcrumb {
  outline: .1rem dashed var(--background-color-2);

  ul {
    display: flex;
    font-size: .9em;
    flex-wrap: wrap;

    li {

      a {
        padding: 0rem .5rem 0rem .5rem;
        font-family: var(--monospace-font);
      
        &:after {
          content: " ▶";
        }

        &:hover {
          color: var(--tertiary-color);
        }
      }

      &:last-child {
        a:after {
          content: "";
        }
      }
    }
  }
}


// Accordion Navigation

// Drop-down and hamburger menus on steroids

nav.accordion {

  input[type=checkbox] {
    display: none;
  }

  label {
    padding: .3rem .5rem .3rem .5rem;
    display: block;
    border-top: 2px dashed var(--background-color-2);

    &:after {
      content: " ▼";
    }
  }

  > ul {
    display: none;
  }
  
  input:checked + ul {display: block;}

  ul {
    li {
      a {
        display: block;
        padding: .3rem .5rem .3rem .5rem;
        border-top: 1px dashed var(--secondary-color);
      }
    }
  }
}
