/* GLOBAL TYPE VARIABLES */

// Google font import

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&family=Teko:wght@600&display=swap');


:root {

    --body-font: 'Rubik', sans-serif;
    --heading-font: 'Teko', sans-serif;
    --monospace-font: 'IBM Plex Mono', monospace;
    // Small text size
    --small-text: 0.8em;
    // Minimum and maximum base font size
    --min-font-size: 16px;
    --max-font-size: 20px;
}



/* GLOBAL COLOR VARIABLES */
:root {

    --background-color-1: rgb(229, 247, 244);
    --background-color-2: rgb(46,65,72);
    --link-hover: rgb(8, 142, 219);
    --mildwarning-color: rgb(255, 81, 0);
    --primary-color: rgb(219,8,138);
    --secondary-color: rgb(117, 19, 79);
    --success-color: rgb(18, 194, 62);
    --tertiary-color: rgb(167,218,212);
    --text-color-1: rgb(46,65,72);
    --text-color-2: rgb(255,255,255);
    --warning-color: rgba(255, 0, 0, 1);
}

    // The colors for dark-mode users
    @media (prefers-color-scheme: dark) {
        :root {

            --background-color-1: rgb(37, 51, 48);
            --background-color-2: rgb(46,65,72);
            --body-background-dark: rgb(15, 18, 19);
            --link-hover: rgb(84, 167, 245);
            --mildwarning-color: rgb(255, 81, 0);
            --primary-color: rgb(245, 84, 183);
            --secondary-color: rgb(150, 22, 101);
            --success-color: rgb(18, 194, 62);
            --tertiary-color: rgb(167,218,212);
            --text-color-1: rgb(255,255,255);
            --text-color-2: rgb(172, 202, 197);
            --warning-color: rgb(255, 45, 45);
        }

        body {
            background: var(--body-background-dark);
        }

    }

// Selection colors

::-moz-selection { /* Code for Firefox */
    background: var(--secondary-color);
    color: var(--text-color-2);
}

::selection {
    background: var(--secondary-color);
    color: var(--text-color-2);
}