/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* TYPOGRAPHY */
/* FONT IMPORT */
@font-face {
  font-family: 'Tw Cen MT Condensed Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Tw Cen MT Condensed Extra Bold"), url("fonts/TCCEB.woff") format("woff");
}

@font-face {
  font-family: 'Rubik-Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Rubik-Regular"), url("fonts/Rubik-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Rubik-Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Rubik-Italic"), url("fonts/Rubik-Italic.ttf") format("ttf");
}

@font-face {
  font-family: 'Rubik-Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Rubik-Bold"), url("fonts/Rubik-Bold.ttf") format("ttf");
}

@font-face {
  font-family: 'Rubik-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local("Rubik-BoldItalic"), url("fonts/Rubik-BoldItalic.ttf") format("ttf");
}

/* TYPE SCALING */
@media (min-width: 768px) {
  :root {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.3472));
    min-height: 0vw;
  }
}

@media (min-width: 1920px) {
  :root {
    font-size: 20px;
  }
}

/* Base Styles */
body {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: black;
}

p {
  margin-bottom: 1.15rem;
}

strong {
  font-family: 'Rubik-Bold', sans-serif;
}

em {
  font-family: 'Rubik-Italic', sans-serif;
}

strong > em, em > strong {
  font-family: 'Rubik-BoldItalic', sans-serif;
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
  font-weight: normal;
  margin: 1.05rem 0 1.05rem;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

small, .text_small {
  font-size: 0.833em;
}

/* GENERAL ALIGNMENTS */
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0em;
  margin-bottom: 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* LISTS */
.content ul {
  list-style: circle;
  padding-left: 1.5em;
}

.content ol {
  list-style: decimal;
  padding-left: 1.5em;
}

/* LINKS */
a {
  color: #e64848;
}

/* BLOCKQUOTE */
header, footer, section {
  max-width: 1000px;
  padding: 1.65rem;
  padding-bottom: 0;
  margin: 0px auto;
}

div.primarycolor, div.secondarycolor, div.tertiarycolor, div.lightbackground, div.darkbackground {
  padding: 1rem;
  margin-top: .5rem;
  color: white;
}

div.primarycolor {
  background: #aa2323;
}

div.secondarycolor {
  background: #e64848;
}

div.tertiarycolor {
  background: #23aa98;
}

div.lightbackground {
  background: #e9d0d0;
  color: black;
}

div.darkbackground {
  background: #31524f;
}
/*# sourceMappingURL=style.css.map */