
header {
  padding: 2rem 0 2rem 0;
  text-align: center;
  background: $dark-background;
  color: $light-text;

  font-family: $monospace-font;
}


footer, section{
  max-width: 1000px;
  padding: 1.65rem;
  padding-bottom: 0;
  margin: 0px auto;
}


footer {
  background: $light-background;
  padding: 1.65rem;
}