div.primarycolor, div.secondarycolor, div.tertiarycolor, div.lightbackground, div.darkbackground {
  padding: 1rem;
  margin-top: .5rem;
  color: $light-text;
}

div.primarycolor {
  background: $primary-color;
}

div.secondarycolor {
  background: $secondary-color;
}

div.tertiarycolor {
  background: $tertiary-color;
}

div.lightbackground {
  background: $light-background;
  color: $dark-text;
}

div.darkbackground {
  background: $dark-background;
}


div.accordiondemo {
  max-width: 350px;
}

@media (min-width: 400px) {

  form#demoform {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: .5em .5em;
  
    > label, > fieldset {
      min-width: 180px;
    }

    > fieldset, div {
      grid-column-start: span 2;
    }

    div {
      text-align: right;
    }

  }

}


@media (min-width: 600px) {

  form#demoform {
    grid-template-columns: repeat(3, 1fr);

    > fieldset, div {
      grid-column-start: span 3;
    }

  }
  
}

