div.primarycolor, div.secondarycolor, div.tertiarycolor, div.lightbackground, div.darkbackground {
  padding: 1rem;
  margin-top: .5rem;
  color: $light-text;
}

div.primarycolor {
  background: $primary-color;
}

div.secondarycolor {
  background: $secondary-color;
}

div.tertiarycolor {
  background: $tertiary-color;
}

div.lightbackground {
  background: $light-background;
  color: $dark-text;
}

div.darkbackground {
  background: $dark-background;
}


div.accordiondemo {
  max-width: 350px;
}


div.fullpagesidebardemo {
  display: grid;
  margin-bottom: 1.5rem;
}


@media (min-width: 800px) {
  
  div.fullpagesidebardemo {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 1em 1em;
    grid-template-areas: ". .";
  }

}