/* GLOBAL COLOR VARIABLES */

$primary-color: rgba(230, 72, 72, 1) !default;

$secondary-color: rgba(170, 35, 35, 1) !default;

$tertiary-color: rgba(35, 154, 170, 1) !default;

$light-background: rgba(252, 238, 238, 1) !default;

$dark-background: rgba(68, 108, 114, 1) !default;

$dark-text: rgba(58, 58, 58, 1) !default;

$light-text: rgba(255, 255, 255, 1)  !default;

$success-color: rgb(18, 194, 62) !default;

$mildwarning-color: rgb(255, 81, 0) !default;

$warning-color: rgba(255, 0, 0, 1) !default;

// Selection colors

::-moz-selection { /* Code for Firefox */
  color: $light-text;
  background: $secondary-color;
}

::selection {
  color: $light-text;
  background: $secondary-color;
}