$primary-color: rgba(170, 35, 35, 1);

$secondary-color: rgba(230, 72, 72, 1);

$tertiary-color: rgba(35, 154, 170, 1);

$light-background: rgba(252, 238, 238, 1);

$dark-background: rgba(49, 78, 82, 1);

$dark-text: rgba(58, 58, 58, 1);

$light-text: rgba(255, 255, 255, 1);

$success-color: rgb(18, 194, 62);

$mildwarning-color: rgb(255, 81, 0);

$warning-color: rgba(255, 0, 0, 1);