$primary-color: rgb(170, 35, 35);

$secondary-color: rgb(230, 72, 72);

$tertiary-color: rgb(35, 170, 152);

$light-background: rgb(248, 232, 232);

$dark-background: rgb(49, 82, 79);

$dark-text: rgb(0,0,0);

$light-text: rgb(255, 255, 255);