/* TYPOGRAPHY */

/* FONT IMPORT */

// I use Google Fonts & Fontify for simplicity's sake. I may embed fonts manually in the future, if I see performance problems.

// I use the Rubik family for body text, and IBM Plex Mono for prefortmatted text, code examples, and blockquotes.

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// This font is TW Cen MT Condensed Bold, and is used for headings.

@import url('https://www.fontify.me/wf/4082e37386d27ca11042496638664d37');


/* TYPE SCALING */
  

  @media (min-width: 768px) {
    :root {
      font-size: calc(1rem + ((1vw - 7.68px) * 0.3472));
      min-height: 0vw;
    }
  }
  @media (min-width: 1920px) {
    :root {
      font-size: 20px;
    }
  }

/* Base Styles */

  body {
    font-family: 'Rubik', sans-serif; // Change the whole site's base font here.
    font-weight: 400;
    line-height: 1.65;
    color: $dark-text;
  }
  
  p {margin-bottom: 1.15rem;}

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  /* HEADINGS */

  h1, h2, h3, h4, h5, h6 {
    font-family: font69674;
    font-weight: normal;
    margin: 1.05rem 0 1.05rem;
    line-height: 1.15;
  }
  
  h1 {
    margin-top: 0;
    font-size: 2.488em;
  }
  
  h2 {font-size: 2.074em;}
  
  h3 {font-size: 1.728em;}
  
  h4 {font-size: 1.44em;}
  
  h5 {font-size: 1.2em;}
  
  small, .text_small {font-size: 0.833em;}

/* GENERAL ALIGNMENTS */


  p,
  ul,
  ol,
  pre,
  table,
  blockquote {
    margin-top: 0em;
    margin-bottom: 1.5em;
  }

  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
  }

  hr,
  .hr {
    border: 1px solid;
    margin: -1px 0;
  }

  a,
  b,
  i,
  strong,
  em,
  small,
  code {
    line-height: 0;
  }

  sub,
  sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }


/* LISTS */

  .content ul {
    list-style: circle;
    padding-left: 1.5em;
  }

  .content ol {
    list-style: decimal;
    padding-left: 1.5em;;
  }

/* LINKS */

  a {
    color: $secondary-color;
  }

/* BLOCKQUOTE */

  blockquote {
   margin-left: 3em;
   font-family: 'IBM Plex Mono', monospace;
   font-size: 1.1em;

    p {
      margin: 0px;
    }
  }